
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="wrapper-content">

    <div class="OneColumnFull" id="main-content" role="main">

        <div class="portlet-layout">

            <div class="portlet-column portlet-column-only" id="column-1">

                <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1">

                    <div class="portlet-boundary portlet-boundary_PcCovidAbout_  portlet-static portlet-static-end decorate  " id="p_p_id_PcCovidAbout_INSTANCE_jF0gjnc4Tpoq_">
                        <span id="p_PcCovidAbout_INSTANCE_jF0gjnc4Tpoq"></span>

                        <section class="portlet" id="portlet_PcCovidAbout_INSTANCE_jF0gjnc4Tpoq">

                            <div class="portlet-content">

                                <div class=" portlet-content-container">

                                    <div class="portlet-body">

                                        <link rel="stylesheet" href="~/Assets/client/o/FEPcCovid/css/PcCovidAbouta4ec.css" />

                                        <div class="pccovid-about-wrap">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="pccovid-about-title">
                                                            Giới thiệu
                                                        </div>
                                                        <div class="pccovid-about-content-wrap">
                                                            <div class="pccovid-about-img">
                                                                <img class="img-fluid" src="~/Assets/client/WebPcCovid/about/about-img-mb.png">
                                                            </div>
                                                            <div class="pccovid-about-head">
                                                                PC-Covid là ứng dụng phòng, chống dịch  Covid-19 Quốc gia
                                                            </div>
                                                            <div class="pccovid-about-description">
                                                                PC-Covid được được phát triển phục vụ cho công tác phòng, chống dịch Covid-19, để Việt Nam có thể "bình thường mới".
                                                            </div>
                                                            <div class="pccovid-about-content">
                                                                Các tính năng chính của ứng dụng: Cấp, quản lý mã QR cá nhân và địa điểm, Quét mã QR, Khai báo y tế, Khai báo di chuyển nội địa, Phản ánh của người dân, Thông tin tiêm vắc xin, Thông tin xét nghiệm, Thẻ thông tin Covid-19, Truy vết tiếp xúc gần, Mật độ di chuyển, Xu hướng lây nhiễm, Bản đồ nguy cơ...
                                                            </div>
                                                            <div class="pccovid-about-contact">
                                                                Thông tin liên hệ: <span class="pccovid-color">phanchitrung2310@gmail.com</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pccovid-about-team-row">
                                                    <div class="col-12 col-md-4">
                                                        <div class="pccovid-about-team">
                                                            <div class="pccovid-about-team-title">
                                                                Cơ quan chủ trì
                                                            </div>
                                                            <div class="pccovid-about-team-lead">
                                                                <img class="img-fluid" src="~/Assets/client/WebPcCovid/about/lead.svg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="pccovid-about-team">
                                                            <div class="pccovid-about-team-title">
                                                                Đơn vị vận hành
                                                            </div>
                                                            <div class="pccovid-about-team-operate">
                                                                <img class="img-fluid" src="~/Assets/client/WebPcCovid/about/operate.svg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="pccovid-about-team">
                                                            <div class="pccovid-about-team-title pccovid-about-team-title-dev">
                                                                Đơn vị tài trợ phát triển
                                                            </div>
                                                            <div class="pccovid-about-team-dev">
                                                                <img class="img-fluid" src="~/Assets/client/WebPcCovid/about/dev.svg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="#" id="hrefFm" method="post" name="hrefFm"><span></span></form>
</div>